body{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #303030;
  color: rgb(239, 235, 228);

}
header{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33vw;
  margin-top: 20px;
  color: rgb(239, 235, 228);
}
.timer{
  display: grid;
  grid-auto-flow: column;
  margin-top: 20px;
}